<div id="member-modal" class="modal fade"></div>
<div class="tab-pane <%='active' if current_page? info_member_path %>">
  <div class="row">
    <div class="col-md-6">
      <b>Basic Info</b>
      <ul class="list-unstyled team-members">
        <li>
          <div class="row">
            <div class="col-md-4">
              Full Name
            </div>
            <div class="col-md-8">
              <%=@member.full_name %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-4">
              Mobile
            </div>
            <div class="col-md-8">
              <%=@member.mobile %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-4">
              Address
            </div>
            <div class="col-md-8">
              <%=@member.address_details %>
            </div>
          </div>
        </li>
        <br>
        <%= link_to 'Update Info', edit_member_path(@member), remote: true, class: 'btn btn-warning'%>
      </ul>
    </div>
  </div>
  <hr>
</div>
