<div class="tab-pane <%='active' if current_page? purchases_member_path %>">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <span class='pull-right'>
        <%=link_to scope_to_date_member_line_items_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
          <btn class="btn btn-info"><i class="fa fa-print"></i> View Report </btn>
        <% end %>
      </span>
    </div>
  </div>
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Item </th>
          <th> Qty </th>
          <th>Unit Cost </span></th>
          <th> Sub Total </th>
          <th>Discount </span></th>
          <th><span class="pull-right"> Total Cost </span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cash_transactions.each do |order| %>
        <tr>
          <td><%=order.date.strftime("%B %e, %Y") %></td>
          <td><% order.line_items.each do |line_item| %>
            <p><%= line_item.stock.product.name_and_description %></p>
            <% end %>
          </td>
          <td><% order.line_items.each do |line_item| %>
            <p><%= line_item.quantity %></p>
            <% end %>
          </td>
          <td><% order.line_items.each do |line_item| %>
            <p><%=number_to_currency line_item.unit_cost %></p>
            <% end %>
          </td>
          <td><%=number_to_currency order.total_amount_without_discount %></td>
          <td><%=number_to_currency order.discount.try(:amount) %></td>
          <td><span class='pull-right'><%=number_to_currency order.total_amount_less_discount %></span></td>
          <td><%=order.pay_type.try(:titleize) %></td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
