<div class="tab-pane <%='active' if current_page? credit_sales_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Customer </th>
        <th>QTY </th>
        <th>S/N </th>
        <th>Unit Cost </th>
        <th>Total Sales</th>
        <th>Cost of Goods Sold</th>
        <!-- <th> Income </th> -->

      
      </tr>
    </thead>
    <tbody>
      <% @results.each do |line_item| %>
        <tr>
        <% if line_item.order.present? %>
          <td><%=line_item.order.date.strftime("%B %e, %Y") %></td>
          <td><%=line_item.order.try(:member)%></td>
          <td><%=line_item.quantity %></td>
          <td><%=line_item.stock.serial_number %></td>
          <td><%=number_to_currency line_item.unit_cost %></td>
          <td><%=number_to_currency line_item.total_price %></td>
          <td><%=number_to_currency line_item.cost_of_goods_sold %></td>
          <!-- <td><%=number_to_currency line_item.income %></td> -->

        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @results, :window => 1 %></center>
  </div>
</div>

