<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/products">
      <i class="fa fa-cubes"></i> <span>Products</span>
    </a>
  </li>
  <li>
  <li>
    <a href="/stocks">
      <i class="fa fa-tag"></i> <span>Stocks</span>
    </a>
  </li>
  <li>
    <%= link_to retail_orders_path do %>
      <i class="fa fa-cart-plus"></i> <span>Sales</span>
    <% end %>
  </li>
  <li>
    <a href="/credits">
      <i class="fa fa-cart-plus"></i> <span>Credits</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <i class="fa fa-file-text-o"></i> <span>Reports</span>
    </a>
  </li>
</ul>
