<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/store/index">
      <i class="fa fa-home"></i> <span>Store (Retail)</span>
    </a>
  </li>
  <li>
    <a href="/wholesales">
      <i class="fa fa-shopping-basket"></i> <span>Store (Wholesale)</span>
    </a>
  </li>
  <li>
    <a href="/products">
      <i class="fa fa-cubes"></i> <span>Products</span>
    </a>
  </li>
  <li>
    <a href="/stocks">
      <i class="fa fa-tag"></i> <span>Stocks</span>
    </a>
  </li>
  <li>
    <%= link_to retail_orders_path do %>
      <i class="fa fa-cart-plus"></i> <span>Sales</span>
    <% end %>
  </li>
  <li>
    <a href="/credits">
      <i class="fa fa-cart-arrow-down text-danger"></i> <span>Credits</span>
    </a>
  </li>
  <li>
    <a href="/members">
      <i class="fa fa-users"></i> <span>Customers</span>
    </a>
  </li>
  <li>
    <a href="/suppliers">
      <i class="fa fa-male"></i> <span>Suppliers</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <i class="fa fa-file-text-o"></i> <span>Reports</span>
    </a>
  </li>
   <li class="header">ACCOUNTING</li>
  <li>
    <a href="/accounting">
      <i class="fa fa-bar-chart"></i> <span>General Ledger</span>
    </a>
  </li>
  <li>
    <a href="/accounting/income_statement">
      <i class="fa fa-area-chart"></i> <span>Income Statement</span>
    </a>
  </li>
  <li>
    <a href="/accounting/balance_sheet">
      <i class="fa fa-balance-scale"></i> <span>Balance Sheet</span>
    </a>
  </li>
  <li>
    <a href="/accounting/entries">
      <i class="fa fa-credit-card"></i> <span>Entries</span>
    </a>
  </li>
  <li>
    <a href="/settings">
      <i class="fa fa-sliders"></i> <span>Settings</span>
    </a>
  </li>
  <!-- <li>
    <a href="/dashboard">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li> -->
</ul>
