<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-3">
          <h4 class="title">Stocks</h4>
        </div>
          <div class="col-md-6">
            <%=form_tag stocks_path, method: :get do %>
              <div class="input-group">
                <%= autocomplete_field_tag "name_and_description", params[:name_and_description], autocomplete_product_name_and_description_products_path, class: 'form-control', placeholder: 'Search Inventory...' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%=link_to 'New Stock', new_stock_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="nav-tabs-navigation">
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="<%='active' if current_page? stocks_path %>">
              <%= link_to stocks_path do %>
                <span class="text-info"><i class="fa fa-server"></i> Available Stocks</span>
              <% end %>
            </li>
            <li class="<%='active' if current_page? out_of_stock_stocks_path %>">
              <%= link_to out_of_stock_stocks_path do %>
                <span class="text-danger"><i class="fa fa-minus-circle"></i> Out of Stock: <%=Stock.out_of_stock.count %></span>
              <% end %>
              </li>
            <li class="<%='active' if current_page? expired_stocks_path %>">
              <%= link_to expired_stocks_path do %>
                <span class="text-danger"><i class="fa fa-exclamation-circle"></i> Expired: <%=Stock.expired.count %></span>
              <% end %>
            </li>
            <li class="<%='active' if current_page? discontinued_stocks_path %>">
              <%= link_to discontinued_stocks_path do %>
                <span class="text-danger"><i class="fa fa-exchange"></i> Discontinued: <%=Stock.discontinued.count %></span>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="content">
          <div id="my-tab-content" class="tab-content">
            <div class="table table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Date </th>
                    <th> Product </th>
                    <th> Supplier </th>
                    <th><span class='pull-right'> Purchase Qty.</span> </th>
                    <th><span class='pull-right'> Unit Cost </span></th>
                    <th><span class='pull-right'> Discount </span></th>
                    <th><span class='pull-right'> Freight In </span></th>
                    <th><span class='pull-right'> Total Cost </span></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @stocks.each do |stock| %>
                    <tr>
                      <td><%= stock.date.strftime('%B %e, %Y') %></td>
                      <td>
                        <%=link_to stock.product.try(:name_and_description), stock %>
                        <small class='text-right label <%= "label-danger" if stock.out_of_stock? || stock.expired_and_low_stock? %><%= "label-warning" if stock.low_stock? %>'><%= stock.status %></small>
                      </td>
                      <td><%= stock.supplier.try(:business_name) %></td>
                      <td><span class='pull-right'> <%= stock.converted_total_quantity %></span></td>
                      <td><span class='pull-right'> <%= number_to_currency stock.unit_price %></span></td>
                      <td><span class='pull-right'> <%= number_to_currency stock.discount_amount %></span></td>
                      <td><span class='pull-right'> <%= number_to_currency stock.freight_amount %></span></td>
                      <td><span class='pull-right'> <%= number_to_currency stock.purchase_price %></span></td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="box-footer">
              <center><%=paginate @stocks, params: { controllers: 'stocks', action: 'index' } %></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
