<tr>
  <td><%=stock.date.strftime('%B %e, %Y')%></td>
  <td><%=stock.converted_quantity %></td>
  <td><%=stock.serial_number %></td>
  <td><%=number_to_currency stock.purchase_price %></td>
  <td><%=stock.in_stock %></td>
  <td><%=stock.sold %></td>
</tr>
