<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h4> <%=@stock.product.name_and_description %> &nbsp &nbsp <% if (@stock.out_of_stock? || @stock.expired? || @stock.low_stock?) %>
            <small class='label label-danger'><%=@stock.status %></small>
          <% end %>
          <span class="pull-right"> Date: <%=@stock.date.strftime("%B %e,%Y") %></span>
        </h4>
        <span class='pull-right'>
          <%= link_to stock_path(@stock), method: :delete, title: 'Delete Stock', data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'} do %>
            <span class="text-danger" title="Delete Stock" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
          <% end %>
        </span>
        <i class="fa fa-user"></i>Employee: <%=@stock.employee.try(:full_name)%>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            Supplier
          </div>
          <div class="col-md-8">
            <%=@stock.supplier %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Purchase Quantity
          </div>
          <div class="col-md-8">
            <%=@stock.converted_total_quantity %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            In Stock
          </div>
          <div class="col-md-8">
            <%=@stock.converted_in_stock_quantity %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Purchase Price
          </div>
          <div class="col-md-8">
            <%=number_to_currency @stock.unit_price %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Total Cost
          </div>
          <div class="col-md-8">
            <%=number_to_currency @stock.purchase_price %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Expiry Date
          </div>
          <div class="col-md-8">
            <%= @stock.expiry_date.strftime("%B %e,%Y") %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Transaction Type
          </div>
          <div class="col-md-8">
            <%= @stock.payment_type %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            <%= link_to "Back", stocks_path, class: 'btn btn-default' %>
          </div>
          <div class="pull-right">
            <% if @stock.discontinued? %>
              <%= link_to "Active", stock_continue_path(@stock), class: 'btn btn-warning', data: {confirm: "You are about to set this stock to 'active'. By doing so will remove this expense from entries. Do you wish to continue? "} %>
            <% else %>
              <%= link_to "Return Stock", new_stock_refund_path(@stock), class: 'btn btn-warning', data: {confirm: "You are about to return this stock. By doing so will refund the amount you have entered. Do you wish to continue? "} %>
              <%= link_to "Discontinue", stock_discontinue_path(@stock), class: 'btn btn-danger', data: {confirm: "You are trying to discontinue selling this stock. By doing so will be listed to entries as an expense. Do you wish to continue? "} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                    