<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <div class="row">
          <div class="col-md-3">
            <h4>Sales</h4>
          </div>
          <div class="col-md-6">
            <% if current_page? retail_orders_path %>
              <%=form_tag retail_orders_path, method: :get do %>
                <div class="input-group stylish-input-group" id="product-prefetch">
                  <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_member_full_name_members_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            <% elsif current_page? wholesale_orders_path %>
              <%=form_tag wholesale_orders_path, method: :get do %>
                <div class="input-group stylish-input-group" id="product-prefetch">
                  <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_member_full_name_members_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="<%='active' if current_page? retail_orders_path %>">
            <%= link_to 'Retail', retail_orders_path %>
          </li>
          <li role="presentation" class="<%='active' if current_page? wholesale_orders_path %>">
            <%= link_to 'Wholesale', wholesale_orders_path %>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-solid">
                  <div class="box-header">
                  </div>
                  <div class="panel-body">
                    <div class="table table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Customer </th>
                            <th>Invoice </th>
                            <th>Date </th>
                            <th> Sub Total </th>
                            <th> Discount </th>
                            <th>Total Sales </th>
                            <th>Cost of Goods Sold </th>
                            <th> Income </th>
                            <th>Type </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @orders.each do |order| %>
                            <tr>
                              <td><%= link_to order.member.try(:full_name) || 'Guest', order %></td>
                              <td><%= order.invoice_number.try(:number) %></td>
                              <td><%= order.date.strftime('%B %e, %Y') %></td>
                              <td><%= number_to_currency order.total_amount_without_discount %></td>
                              <td><%= number_to_currency order.total_discount %></td>
                              <td><%= number_to_currency order.total_amount_less_discount %></td>
                              <td><%= number_to_currency order.cost_of_goods_sold%></td>
                              <td><%= number_to_currency order.income %>
                              <td><%= order.pay_type %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <div class="modal-footer">
                        <center><%= paginate @orders %></center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>