<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Product </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @product, remote: true do |f| %>
          <%=f.error_notification %>
            <%=f.input :name, autofocus: true %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :description %>
              </div>
              <div class="col-md-6">
                <%= f.input :category_id, collection: Category.all %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <%= f.input :unit_quantity, label: 'Quantity', input_html: {value: 1} %>
              </div>
              <div class="col-md-4">
                <%= f.input :unit, label: 'Unit(Retail)', placeholder: 'kgs' %>
              </div>
              <div class="col-md-1"><h2 class="text-muted">/</h2></div>
              <div class="col-md-4">
                <%= f.input :highest_unit, label: 'Unit(Wholesale)', placeholder: 'bag' %>
              </div>
              <div class="col-md-12">
                <p class="text-muted">*Enter the value for "Quantity" if you want to set the value for "Unit(Wholesale)", or leave it for default values. This values will be used during unit conversion.</p>
              </div>
            </div>
            <hr>
            <%=f.input :stock_alert_count, input_html: { value: 0 }, placeholder: 'Enter quantity based on lowest selling unit...' %>
            <h4 class="title"> Pricing Details </h4>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :price, label: 'Retail Price' %>
              </div>
              <div class="col-md-6">
                <%=f.input :wholesale_price %>
              </div>
            </div>

            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
              <%=f.submit "Save Product", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
