

<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="title"> New Payment Details </h4>
        <hr>
      </div>
      <div class="box-body">
       <div class="row">
         <div class="col-md-5">
           <center><%=image_tag(@member.profile_photo.url(:thumb), class: 'img-circle') %></center>
           <br>
           <center><b><%=@member.full_name %></b></center>
           <center><i class="fa fa-map-marker"></i> <%=@member.address_details  %> </center><center> <i class="fa fa-phone"></i> <%=@member.mobile %></center>
            <hr>
            <div class="row">
              <div class="col-md-6">
                AMOUNT
              </div>
              <div class="col-md-6">
                <span class='pull-right'><%=number_to_currency @member.total_credit %></span>
              </div>
            </div>
            <br>
             <div class="row">
              <div class="col-md-6">
                PAYMENTS
              </div>
              <div class="col-md-6">
                <span class='pull-right'><%=number_to_currency @member.total_payment %></span>
              </div>
            </div>
            <hr>
             <div class="row">
              <div class="col-md-6">
                BALANCE
              </div>
              <div class="col-md-6">
                <span class='pull-right'><%=number_to_currency @member.total_remaining_balance %></span>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1 border-left"> 
            <%= simple_form_for @entry, url: :member_payments do |f| %>
              <%= f.error_notification %>
              <div class="row">
                <div class="col-md-6">
                  <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
                </div>
                <div class="col-md-6">
                  <%=f.input :reference_number %>
                </div>
              </div>
              <%=f.input :description, as: :text, input_html: { value: "Payment of credit on #{Time.zone.now.strftime('%B %e, %Y')}"} %>

              <h4>AMOUNT</h4>

              <%=f.simple_fields_for :debit_amounts do |ff| %>
                <div class="form-group has-success">
                  <%=ff.input :amount, as: :string, input_html: {value: @member.total_remaining_balance, class: 'input-lg' } %>
                </div>
                <%=ff.input :account, input_html: { value: "Cash on Hand"}, readonly: true, as: :hidden %>
              <% end %>

              <%=f.simple_fields_for :credit_amounts do |ff| %>
                <%=ff.input :amount, input_html: { value: @member.total_remaining_balance }, readonly: true, as: :hidden %>
                <%=ff.input :account, input_html: { value: "Accounts Receivables Trade - Current"}, readonly: true, as: :hidden %>
              <% end %>
              
              <h4>Discount</h4>
              <%=f.simple_fields_for :debit_amounts do |ff| %>
                <div class="form-group has-warning">
                  <%=ff.input :amount, input_html: { id: 'accounting_discount_debit_amounts_attributes_0_amount', class: 'input-lg', value: 0} %>
                </div>
                <%=ff.input :account, input_html: { value: "Sales Discounts"}, readonly: true, as: :hidden %>
              <% end %>

              <%=f.simple_fields_for :credit_amounts do |ff| %>
                <%=ff.input :amount, input_html: { id: 'accounting_discount_credit_amounts_attributes_0_amount', value: 0}, as: :hidden %>
                <%=ff.input :account, input_html: { value: "Accounts Receivables Trade - Current"}, readonly: true, as: :hidden %>
              <% end %>
              <div class="modal-footer">
                <%= f.submit 'Save Payment', class: "btn btn-primary" %>
                <span class="pull-left">
                  <%=link_to 'Cancel', account_details_member_path(@member), class: 'btn btn-default' %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
