<h3>Reports Section</h3>

<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h4>SUMMARY</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <%=link_to scope_to_date_summary_orders_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') do %>
              <h4> Weekly Sales Summary Report </h4>
              <p> Generate daily sales report for today. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-6">
            <%=link_to scope_to_date_summary_orders_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
              <h4> Monthly Sales Summary Report </h4>
              <p> Generate daily sales report for today. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-6 col-md-offset-3 ">
            <h4> Custom Sales Report </h4>
            <%= form_tag({:action => "scope_to_date_summary", controller: "orders", format: 'pdf'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success active"> Go </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="box box-info">
      <div class="box-header with-border">
        <h4>SALES</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            <%=link_to scope_to_date_orders_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day, format: 'pdf') do %>
              <h4> Daily Sales Report </h4>
              <p> Generate daily sales report for today. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-4">
            <%=link_to scope_to_date_orders_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') do %>
              <h4> Weekly Sales Report </h4>
              <p> Generate daily sales report for today. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-4">
            <%=link_to scope_to_date_orders_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
              <h4> Monthly Sales Report </h4>
              <p> Generate daily sales report for today. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-6 col-md-offset-3 ">
            <h4> Custom Sales Report </h4>
            <%= form_tag({:action => "scope_to_date", controller: "orders", format: 'pdf'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success active"> Go </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="box box-danger">
      <div class="box-header with-border">
        <h4>INVENTORIES</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            <%=link_to low_stock_products_path(format: 'pdf'), class: 'text-warning' do %>
              <h4><span class='text-danger'><i class='fa fa-file-text-o'></i> Low Stock Products </span> </h4>
              <p>Generate report for all low stock products. </p>
            <% end %>
            <hr >
          </div>
          <div class="col-md-4">
            <%=link_to expired_products_path(format: 'pdf'), class: 'text-danger' do %>
              <h4 class="text-danger"><i class='fa fa-file-text-o text-danger'></i> Expired Products </h4>
              <p>Generate report for expired products. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-4">
            <%=link_to out_of_stock_products_path(format: 'pdf'), class: 'text-danger' do %>
              <h4 class="text-danger"><i class='fa fa-file-text-o text-danger'></i> Out of Stock Products </h4>
              <p>Generate report for all out of stock products. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <%=link_to products_path(format: 'pdf') do %>
              <h4 class="text-info"> Current Inventory Status </h4>
              <p class="category"> Generate current status of inventories. </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="box box-warning">
      <div class="box-header with-border">
        <h4>PURCHASES</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            <%=link_to scope_to_date_stocks_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day, format: 'pdf') do %>
              <h4> Daily Purchase </h4>
              <p> Generate report for purchases entered this day. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-4">
            <%=link_to scope_to_date_stocks_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') do %>
              <h4> Weekly Purchase </h4>
              <p> Generate report for purchases entered this day. </p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-4">
            <%=link_to scope_to_date_stocks_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
              <h4> Monthly Purchase </h4>
              <p> Generate report for purchases entered this day. </p>
            <hr>
            <% end %>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <h4> Custom Purchases Report </h4>
            <%= form_tag({:action => "scope_to_date", controller: "stocks", format: 'pdf'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success active"> Go </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-success">
      <div class="box-header with-border">
        <h4>RECEIVABLES</h4>
      </div>
      <div class="box-body">
        <%=link_to credits_path(format: 'pdf') do %>
          <h4>Due from Customers </h4>
          <p>Generate report for credits due from customers </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-success">
      <div class="box-header with-border">
        <h4>PAYABLES</h4>
      </div>
      <div class="box-body">
        <%=link_to payables_path(format: 'pdf') do %>
          <h4>Payable to Suppliers </h4>
          <p>Generate report for accounts payable to creditors </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-success">
      <div class="box-header with-border">
        <h4>ACCOUNTING</h4>
      </div>
      <div class="box-body">
        <%=link_to accounting_income_statement_index_path(format: 'pdf') do %>
          <h4> Income Statement </h4>
          <p>Generate Income Statement of your business </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h4>TRANSACTIONS</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <%=link_to scope_to_date_accounting_entries_path(:from_date => Time.zone.now.beginning_of_day, :to_date => Time.zone.now.end_of_day, format: 'pdf') do %>
              <h4>Daily</h4>
              <p>Generate transactions of your business for this day.</p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-3">
            <%=link_to scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') do %>
              <h4>Weekly</h4>
              <p>Generate transactions of your business for this week.</p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-3">
            <%=link_to scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
              <h4>Monthly</h4>
              <p>Generate transactions of your business for this month.</p>
            <% end %>
            <hr>
          </div>
          <div class="col-md-3">
            <%= link_to scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_year, to_date: Time.zone.now.end_of_year, format: 'pdf') do %>
              <h4>Yearly</h4>
              <p>Generate transactions of your business for this year.</p>
            <% end %>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>