<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Contact &copy; +63927-4173-271 | vc.halip@gmail.com <a href="#">Itworx Technology Services</a>.</strong> 
</footer>
