<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%=link_to image_tag(current_user.profile_photo.url(:thumb), class: 'img-circle', height: 40, width: 40), info_user_path(current_user) %>
      </div>
      <div class="pull-left info">
        <p><%=link_to current_user.first_name.try(:titleize), info_user_path(current_user) %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> <%=current_user.role.titleize %></a>
      </div>
    </div>
    <%=form_tag products_path, method: :get, class: 'sidebar-form' do %>
      <div class="input-group">
        <%= autocomplete_field_tag "name_and_description", params[:name_and_description], autocomplete_product_name_and_description_products_path, class: 'form-control input-lg', placeholder: 'Search Product...' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
    <% if current_user.proprietor? %>
      <%= render 'layouts/shared/sidebar_for_owner' %>
    <% elsif current_user.cashier? %>
      <%= render 'layouts/shared/sidebar_for_cashier' %>
    <% elsif current_user.stock_custodian? %>
      <%= render 'layouts/shared/sidebar_for_stock_custodian' %>
    <% elsif current_user.bookkeeper? %>
      <%= render 'layouts/shared/sidebar_for_bookkeeper' %>
    <% end %>
  </section>
</aside>
