<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
          <p></p>
            <%= image_tag @member.profile_photo.url(:small), class: "img-circle"%>
          </div>
          <div class="col-md-10">
            <h4 class="panel-title">
              <br>
              <%=@member.full_name.try(:upcase) %><br />
             <small><i class="fa fa-map-marker"></i> <%=@member.address_details %></small>&nbsp;
              <small><i class="fa fa-phone"></i> <%=@member.mobile %></small>
              <a href="#"><small></small></a>
            </h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%='active' if current_page? info_member_path %>">
            <%= link_to 'Info', info_member_path %>
          </li>
          <li class="<%='active' if current_page? purchases_member_path %>">
            <%= link_to 'Purchases', purchases_member_path %>
          </li>
          <li class="<%='active' if current_page? account_details_member_path %>">
            <%= link_to 'Account Details', account_details_member_path %>
          </li>
        </ul>
      </div>
      <div class="content">
        <div id="my-tab-content" class="tab-content">
          <%= render '/members/transactions/info' if current_page? info_member_path %>
          <%= render '/members/transactions/purchases' if current_page? purchases_member_path %>
          <%= render '/members/transactions/account_details' if current_page? account_details_member_path %>
        </div>
      </div>
    </div>
  </div>
</div>
