<div id="member-modal" class="modal fade"></div>
<div class="row">
<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header">
      <div class="row">
        <div class="col-md-3">
          <h4 class="title"> Customers </h4>
        </div>
        <div class="col-md-6">
          <%=form_tag members_path, method: :get do %>
            <div class="input-group stylish-input-group" id="product-prefetch">
              <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_member_full_name_members_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <span class="pull-right">
            <%=link_to new_member_path, remote: true do %>
            <span class="btn btn-primary"><i class="fa fa-user-plus"></i> New Customer </span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th> Mobile Number</th>
              <th> Address </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= link_to member.full_name, info_member_path(member) %></td>
                <td><%= member.mobile %></td>
                <td><%= member.address_details %></td>
                <td><%= link_to 'Update Info', edit_member_path(member), remote: true, class: 'btn btn-xs btn-warning'%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <center><%= paginate @members, :window => 1 %></center>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
